:root,
:root[data-theme="color"] {
  /* default */
  --primary-color: #1890ff;
  --background-color-base: rgb(255, 255, 255);
  --background-color-component: #ffffff;
  --text-color-primary: #d5d5d5;
  --text-color-secondary: #555;
  --text-color-placeholder: #999;
  --border-color-base: #828282;

  /* Header color style */
  --header-gradient-bg: linear-gradient(
    90deg,
    rgb(6, 147, 46) 0%,
    rgb(74, 82, 148) 60%,
    rgba(47, 106, 75) 100%
  );
  --header-bottom-border-color: #828282;

  /* Sidebar color style */
  --sidebar-bg: linear-gradient(
    180deg,
    rgb(6, 147, 46) 0%,
    rgb(74, 82, 148) 60%,
    rgba(47, 106, 75) 100%
  );
  --sidebar-text-color: #ffffff;
  --sidebar-right-border-color: #828282;
  --sidebar-text-color-submenu: #c7a7a7;
  --sidebar-icon-color: #10ffa7;
  --sidebar-submenus-bg: none;
  --sidebar-item-hover-bg: #3a4658;
  --sidebar-item-selected-bg: #363d47;

  /* Content component colors */
  --content-bg: #35373d;
  --shadow-color-light: rgba(0, 0, 0, 0.2);
  --scrollbar-thumb-color: rgba(16, 255, 167, 0.3);
  --scrollbar-thumb-hover-color: rgba(16, 255, 167, 0.5);
  --breadcrumb-icon-color: #10ffa7;

  /* Footer color style */
  --footer-bg: rgb(55, 43, 37);

  /* Login component colors */
  --login-bg: linear-gradient(
    135deg,
    rgba(122, 153, 137, 1) 0%,
    rgba(57, 121, 184, 1) 60%,
    rgba(28, 33, 40, 1) 200%
  );
  --login-form-bg: rgba(194, 187, 187, 0.25);
  --login-form-border: rgba(255, 255, 255, 0.3);
  --login-text-primary: #ffffff;
  --login-text-secondary: #384b65;
  --login-primary-color: #bfba29;
  --login-primary-hover: #ff7a1a;
  --login-focus-shadow: rgba(255, 138, 61, 0.15);
}
